<web-app>

<context-param> 
   <description>Location to store uploaded file</description> 
   <param-name>file-upload</param-name> 
   <param-value>
      f:\file-upload\
   </param-value> 
</context-param>

<context-param> 
   <description>Location to store failed file</description> 
   <param-name>failed
</param-name> 
   <param-value>
      f:\failed\
   </param-value> 
</context-param>

</web-app>
